@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.blur-blob {
  @apply absolute rounded-full opacity-30 mix-blend-multiply blur-xl filter;
  animation: float 10s ease-in-out infinite;
  background: radial-gradient(
    circle,
    rgba(var(--blob-color), 0.8) 0%,
    rgba(var(--blob-color), 0) 70%
  );
}

.blur-blob-1 {
  @apply left-[20%] top-[5%] h-[50rem] w-[50rem];
  --blob-color: 102, 33, 191;
  animation-delay: 0s;
}

.blur-blob-2 {
  @apply left-[40%] top-[20%] h-[50rem] w-[50rem];
  --blob-color: 149, 206, 238;
  animation-delay: -2s;
}

.blur-blob-3 {
  @apply left-[20%] top-[60%] h-[20rem] w-[50rem];
  --blob-color: 202, 82, 82;
  animation-delay: -4s;
}

.blur-blob-4 {
  @apply left-[30%] top-[10%] h-[20rem] w-[50rem];
  --blob-color: 73, 220, 193;
  animation-delay: -6s;
}
